@use "@/ui/styles/palette";
@use "@/ui/styles/variables";
@use "sass:map";

.item-container {
  box-sizing: border-box;
  min-height: 2.5rem; // 40px
  padding-inline: 0.5rem;
  width: 100%;
}

.password-strength-text {
  &--weak-password {
    color: map.get(palette.$red-palette, 500);

    &[data-color-mode="dark"] {
      color: map.get(palette.$red-palette, 400);
    }
  }

  &--normal-password {
    color: map.get(palette.$yellow-palette, 500);

    &[data-color-mode="dark"] {
      color: map.get(palette.$yellow-palette, 500);
    }
  }

  &--strong-password {
    color: map.get(palette.$green-palette, 500);

    &[data-color-mode="dark"] {
      color: map.get(palette.$green-palette, 400);
    }
  }
}
