@use "@/ui/styles/mixins";
@use "@/ui/styles/variables";
@use "sass:map";

$footer-height: 3.125rem; // 50px
$icon-size: 1.5rem; // 24px

.container {
  @include mixins.card-container;
}

.content {
  min-height: variables.$account-card-min-height;
  min-width: variables.$account-card-min-width;
}

.footer {
  &__button {
    height: $footer-height;
    padding: 0 variables.$card-padding;

    &--closed {
      border-bottom-left-radius: map.get(variables.$border-radius, "md");
      border-bottom-right-radius: map.get(variables.$border-radius, "md");
    }
  }

  &__content {
    padding: variables.$card-padding;
  }
}

.header {
  min-height: calc(#{variables.$account-card-min-height} - #{$footer-height});
  padding-left: variables.$card-padding;
  padding-right: variables.$card-padding;
  padding-top: variables.$card-padding;
}

.circular-icon {
  border-radius: map.get(variables.$border-radius, "full");
  max-height: $icon-size;
  max-width: $icon-size;
  min-height: $icon-size;
  min-width: $icon-size;
}

.origin-icon {
  height: 0.75rem; // 12px
  width: 0.75rem; // 12px
}
