$neutral-palette: (
  0: #000000,
  50: #222121,
  100: #3d3b3b,
  200: #504e4e,
  300: #635f5f,
  400: #736f6f,
  500: #898585,
  600: #9a9494,
  700: #b2adad,
  800: #d4d1d1,
  900: #ffffff,
);

$primary-dark-palette: (
  50: #F6E9FF,
  100: #F2DEFF,
  200: #EED3FF,
  300: #E9C8FF,
  400: #E5BDFF,
  500: #E0B0FF, // mauve
  600: #C875FF,
  700: #AF37FF,
  800: #9500F8,
  900: #6F00BA,
);

$primary-light-palette: (
  50: #F59CFD,
  100: #F16AFD,
  200: #EC39FC,
  300: #E707FB,
  400: #BC03CD,
  500: #8D029B, // mauveine
  600: #7B0285,
  700: #66026F,
  800: #520159,
  900: #3D0143,
);
