input {
  border: 1px solid var(--gray-300-color);
  border-radius: 0.25rem;
  font-size: 0.875rem;
  height: 2.5rem;
  line-height: 1.25rem;
  min-width: 15rem;
  outline: 0;
  padding-block: 0;
  padding-inline: 0.75rem;
}

input:focus {
  border-color: var(--primary-500-color);
}
