.icon {
  height: 1.25rem; // 20px
  width: 1.25rem; // 20px

  &--xs {
    height: 0.75rem; // 12px
    width: 0.75rem; // 12px
  }

  &--sm {
    height: 1rem; // 16px
    width: 1rem; // 16px
  }

  &--lg {
    height: 1.5rem; // 24px
    width: 1.5rem; // 24px
  }

  &--xl {
    height: 2rem; // 32px
    width: 2rem; // 32px
  }
}
