.accounts-table-container {
  margin-bottom: 2rem;
}

.accounts-table-container > table,
.accounts-table-container > table td,
.accounts-table-container > table th {
  border: 1px solid var(--gray-300-color);
}

.accounts-table-container > table {
  border-collapse: collapse;
  width: 100%;
}

.accounts-table-container > table td,
.accounts-table-container > table th {
  padding: 0.5rem;
}

.accounts-table-container > table th {
  background: var(--gray-400-color);
  color: white;
  text-align: left;
}

.accounts-table-container > table td {
  text-align: left;
}
