:root {
  --primary-300-color: #E707FB;
  --primary-400-color: #BC03CD;
  --primary-500-color: #8d029b;
  --gray-300-color: #d4d4d8;
  --gray-400-color: #a1a1aa;
  --gray-500-color: #71717a;
  color: var(--gray-500-color);
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}

html, body {
  margin: 0;
  min-height: 100vh;
  padding: 0;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

header, main {
  display: flex;
  justify-content: center;
}

header {
  align-items: center;
  height: 10vh;
  padding-left: 1rem;
  padding-right: 1rem;
}

main {
  flex-direction: column;
  min-height: 90vh;
  max-width: 1024px;
  min-width: 400px;
}

button {
  align-items: center;
  appearance: none;
  background: var(--primary-500-color);
  border: none;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 0.875rem;
  font-weight: 500;
  gap: 0.5rem;
  height: 2.5rem;
  justify-content: center;
  line-height: 1.25rem;
  min-width: 15rem;
  outline: 0;
  padding-inline: 1rem;
  transition: background-color 300ms;
  white-space: nowrap;
}

button:hover {
  background: var(--primary-400-color);
}
